html,body {
	height: 100%;
}
.heading{
    text-align:center ;
    padding-top: 2em;
    color: #fff;
}
body {
	margin: 0;
	background: linear-gradient(75deg, #77c2e8, #2c74e8);
	font-family: sans-serif;
	font-weight: 100;
}
/* Style buttons */
.dbtn {
    background-color: DodgerBlue;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 40%
    
  }
  .ubtn{
     background-color: DodgerBlue;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    /* position: absolute;
    top: 85%;
    left: 40% */
  }

.file{
    position: absolute;
    top: 80%;
    left: 32%
    
}
.drop-container{
    /* height: 200px; */
    padding: 35px;
    border-radius: 10px;
    border: 2px dashed #fff;
}
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
 
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

.container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}



table {
    /* max-height: 400px; */
	width: 1000px;
	border-collapse: collapse;
	overflow: auto;
	box-shadow: 0 0 20px rgba(60, 52, 52, 0.127);
  display: table-caption; height: 300px; overflow: auto;
}

th{
    padding: 15px;
	background-color: rgb(71, 67, 78);
	color: #ece0e0;
    width: 80em;
    z-index: 1;
}
td,tr {
    
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.185);
	color: #fff;
  width: 80em;
}

th {
	text-align: left;
}

thead {
	  opacity: 1;
		background-color: #0f152e;
	
}
tbody{
    display: block;
    width: max-content;
}
tbody tr:hover{
	width: max-content;
	background-color: rgba(255, 255, 255, 0.3);
		}
tbody td{
    position: relative;
    width: 220px;
}	
tbody td:hover::before{
		
		
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				/* top: -9999px;
				bottom: -9999px; */
				background-color: rgba(255, 255, 255, 0.333);
				z-index: -1;
			}
		 
